{% extends 'base/index.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <main class="col-md-12 col-xl-12 py-md-3 pl-md-5 bd-content" role="main" id="main">
      <h1>Main</h1>
    </main>
    {% if not request.user.is_authenticated %}
    <div class="col-md-4 col-xl-4 bd-sidebar" id="auth-sidebar" style="display: none;">
      {% include 'user/auth/signin.html' %}
      {% include 'user/user/signup.html' %}
      {% include 'user/keys/passwordForgotten.html' %}
      {% include 'user/keys/thanksForRegistration.html' %}
      {% include 'user/keys/passwordLinkSended.html' %}
    </div>
   {% endif %} 
  </div>
</div>
{% endblock content%}

{% block javascript %}
{{ block.super }}
{% if not request.user.is_authenticated %}
{% load static %}
<script type="text/javascript" src="{% static 'customJs/emailValidation.js' %}"></script>
<script>
  {% include "user/auth.js" %}
</script>
{% endif %}
{% endblock javascript %}
