<form class="my-2" id="pwforgotten-form" style="display: none;" method="post">
  {% csrf_token %}
  <div class="d-flex justify-content-between">
    <h3>Password Forgotten</h3>
    <h3 class="text-muted" name="close-auth"><i class="fas fa-times"></i></h3>
  </div>
  <div class="d-flex justify-content-around">
    <small><a href="#" name="signin-switch">Sign In</a></small>
    <small><a href="#" name="signin-switch">Sign Up</a></small>
  </div>
  <hr>
  <div class="form-group">
    <label for="pwforgotten-email">Email address</label>
    <input type="email" class="form-control" name="email" id="pwforgotten-email">
    <small id="emailHelp" class="form-text text-muted">Use last email you remember</small>
    <small id="pwforgotten-email-warning" class="form-text text-danger"></small>
  </div>
  <button class="btn btn-primary w-100">Send Reset Link</button>
</form>