<div class="my-2" id="successfull-signup" style="display: none;">
  <div class="d-flex justify-content-between">
    <h3>Thanks!</h3>
    <h3 class="text-muted" name="close-auth"><i class="fas fa-times"></i></h3>
  </div>
  <hr>
  <p>
    Thanks for Registration! We have sended you an Email for account activation.
    <a href="#" id="resend-activation">Click Here</a> if you have not received it.
  </p>
  <form id="resend-key-form">
    {% csrf_token %}
    <input type="hidden" id="new-registrated-user" name="email">
  </form>
</div>