<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registration</title>
</head>
<body>
  <p>
    <b>Hey {{key.user.first_name}},</b>
  </p>
  <p>
    <b>Thanks</b> for registration at our platform. Please verify your account by using following link:<br/>
    <a href="{{base_url}}{% url 'userKeysKeyView' key.key %}">
      {{base_url}}{% url 'userKeysKeyView' key.key %}
    </a>
  </p>
  <p>
    Kind regards,<br/>
    Startup Fun Project Team
  </p>
</body>
</html>
